.levantar {
  animation: levantar 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.abaixar {
  animation: abaixar 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes levantar {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-350px);
  }
}
@keyframes abaixar {
  0% {
    transform: translateY(-350px);
  }
  100% {
    transform: translateY(0px);
  }
}
