.carta {
  width: var(--largura-carta);
  height: var(--altura-carta);

  display: inline-flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #d4d4d4;
  background: #ededed;

  box-shadow: 0.2em 0.2em 0.5em #333;
}

.carta__frente {
  width: calc(1.5 * var(--largura-carta));
  height: calc(1.5 * var(--altura-carta));
  position: relative;
}

.carta__img-fundo {
  width: 100%;
  height: 100%;
}

.carta__nome {
  font-family: "Heroes Assemble Expanded Expanded";
  background-color: var(--cor2);
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 25px);
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: right;
  padding-right: 5px;
}

.carta__personagem__clip {
  top: calc(1.5rem + 10px);
  right: 10px;
  position: absolute;
  clip-path: circle(80% at 100% 50%);
}
.carta__personagem__shadow {
  top: calc(1.5rem + 10px);
  right: 10px;
  position: absolute;
  opacity: 0.5;
}

.carta__categorias {
  font-family: "Heroes Assemble Expanded Expanded";
  position: relative;
  padding: 5px;
  width: var(--largura-carta);
  margin-left: 4.4rem;
  margin-top: 11rem;
  right: 15px;
}

.carta__categoria {
  display: flex;

  background-color: var(--cor3);
  line-height: 1.5rem;
  height: 1.5rem;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 50px;
  padding-right: 5px;
  padding-left: 5px;

  transition: all 0.2s ease-in-out;
}

.carta__categoria:hover {
  transform: scale(1.5);
}

.carta__categoria__nome {
  flex-grow: 1;
  padding-left: 15px;
}

.carta__categoria__valor {
  flex-grow: 0;
  width: 15px;
}
