.jogo {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.monte-de-cartas .cartas {
  position: relative;
  width: 210px;
  height: 283px;
  margin: 20px;
  display: inline-block;
}

.monte-de-cartas .carta {
  position: absolute;
  left: 0;
  top: 0;

  margin: 10px;

  -webkit-box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.59);
  box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.59);
}

.jogador-0 {
  width: 20rem;
  height: calc(2 * var(--altura-carta));
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
}

.jogador-0 li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  position: absolute;
  bottom: 0;
}
