@font-face {
  font-family: "Heroes Assemble Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Heroes Assemble Regular"), url("../fonts/heroesassemble2.woff") format("woff");
}

@font-face {
  font-family: "Heroes Assemble 3D Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Heroes Assemble 3D Regular"), url("../fonts/heroesassemble3d.woff") format("woff");
}

@font-face {
  font-family: "Heroes Assemble Academy Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Heroes Assemble Academy Regular"), url("../fonts/heroesassembleacad.woff") format("woff");
}

@font-face {
  font-family: "Heroes Assemble Gradient Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Heroes Assemble Gradient Regular"), url("../fonts/heroesassemblegrad.woff") format("woff");
}

@font-face {
  font-family: "Heroes Assemble Outline Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Heroes Assemble Outline Regular"), url("../fonts/heroesassembleout.woff") format("woff");
}

@font-face {
  font-family: "Heroes Assemble Condensed Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Heroes Assemble Condensed Condensed"), url("../fonts/heroesassemblecond2.woff") format("woff");
}

@font-face {
  font-family: "Heroes Assemble Expanded Expanded";
  font-style: normal;
  font-weight: normal;
  src: local("Heroes Assemble Expanded Expanded"), url("../fonts/heroesassembleexpand2.woff") format("woff");
}

@font-face {
  font-family: "Heroes Assemble 3D Italic Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Heroes Assemble 3D Italic Italic"), url("../fonts/heroesassemble3dital.woff") format("woff");
}

@font-face {
  font-family: "Heroes Assemble Academy Italic Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Heroes Assemble Academy Italic Italic"), url("../fonts/heroesassembleacadital.woff") format("woff");
}

@font-face {
  font-family: "Heroes Assemble Condensed Italic Condensed Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Heroes Assemble Condensed Italic Condensed Italic"),
    url("../fonts/heroesassemblecondital2.woff") format("woff");
}

@font-face {
  font-family: "Heroes Assemble Expanded Italic Expanded Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Heroes Assemble Expanded Italic Expanded Italic"),
    url("../fonts/heroesassembleexpandital2.woff") format("woff");
}

@font-face {
  font-family: "Heroes Assemble Gradient Italic Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Heroes Assemble Gradient Italic Italic"), url("../fonts/heroesassemblegradital.woff") format("woff");
}

@font-face {
  font-family: "Heroes Assemble Italic Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Heroes Assemble Italic Italic"), url("../fonts/heroesassembleital2.woff") format("woff");
}

@font-face {
  font-family: "Heroes Assemble Leftalic Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Heroes Assemble Leftalic Italic"), url("../fonts/heroesassembleleft2.woff") format("woff");
}

@font-face {
  font-family: "Heroes Assemble Outline Italic Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Heroes Assemble Outline Italic Italic"), url("../fonts/heroesassembleoutital.woff") format("woff");
}

@font-face {
  font-family: "Heroes Assemble Bold Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Heroes Assemble Bold Bold"), url("../fonts/heroesassemblebold2.woff") format("woff");
}

@font-face {
  font-family: "Heroes Assemble Bold Expanded Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Heroes Assemble Bold Expanded Bold"), url("../fonts/heroesassembleboldexpand2.woff") format("woff");
}

@font-face {
  font-family: "Heroes Assemble Bold Expandtalic Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Heroes Assemble Bold Expandtalic Bold"), url("../fonts/heroesassembleboldexpandital2.woff") format("woff");
}

@font-face {
  font-family: "Heroes Assemble Bold Italic Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Heroes Assemble Bold Italic Bold Italic"), url("../fonts/heroesassembleboldital2.woff") format("woff");
}
