html {
  font-family: "Heroes Assemble 3D Regular";
  font-weight: normal;
  font-size: 16px;

  --largura-carta: 150px;
  --altura-carta: 222px;

  --cor1: #025159;
  --cor2: #f2c84b;
  --cor3: #f27405;
  --cor4: #bf0404;
  --cor5: #260101;

  background: var(--cor1);
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
  left: 0;
  right: 0;
  padding: 8px;
  margin: 0;
}

.esconder {
  display: none;
  visibility: hidden;
}
