.tela-inicial {
  max-width: 50rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--cor2);
  font-family: "Heroes Assemble Expanded Italic Expanded Italic";
}

.tela-inicial__header {
  width: fit-content;
  display: flex;
  flex-direction: row;
  position: relative;
  left: 50%;
  margin-top: 15%;
  transform: translate(-50%, 0);
}

.tela-inicial__header__a {
  font-size: 15em;
  display: inline-block;
  width: fit-content;
}

.tela-inicial__header__vengers {
  top: 133px;
  font-size: 7em;
  position: relative;
  left: -15px;
  width: fit-content;
  height: fit-content;
}

.tela-inicial__header__assemble {
  font-size: 4.5em;
  position: absolute;
  left: 30px;
  top: 233px;
}

.tela-inicial__input {
  display: flex;
  flex-direction: row;

  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
}

.tela-inicial__input label {
  font-size: 2rem;
  margin-right: 1rem;

  color: #eded;
}

.tela-inicial__input input[type="number"] {
  font-size: 1.5rem;
  text-align: center;
  width: 150px;
  height: 2rem;
  line-height: 2rem;

  border-radius: 4px;
  padding-left: 1rem;
}

button {
  padding: 16px;
  font-size: 1.5rem;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
